In [1]:
from bs4 import BeautifulSoup
from lxml import etree

In [2]:
api = "4198dae8c7a037c64d13a82315cb4a46"
isbn = "9780312541248"
url = f'http://www.directtextbook.com/xml.php?key={api}&ean={isbn}'

In [3]:
import requests
page = requests.get(url)
soup = BeautifulSoup(page.content, 'xml')

In [18]:
vendors = list()
prices = list()
shippings = list()
conditions = list()

for vendor in soup.find_all("vendor"):
    ven = vendor.get_text()
    vendors.append(ven)
    
for price in soup.find_all("price"):
    price_text = price.get_text()
    prices.append(price_text)
    
for shipping in soup.find_all("shipping"):
    ship_text = shipping.get_text()
    shippings.append(ship_text)
    
for condition in soup.find_all("condition"):
    cond_text = condition.get_text()
    conditions.append(cond_text)

In [19]:
import pandas as pd

dict = {'vendors': vendors,
        'condition': conditions,
       'price': prices,
       'shipping':shippings
        
       }

df = pd.DataFrame(dict)

df['price'] = df['price'].astype(float)
df['shipping'] = df['shipping'].astype(float)

df['total_cost']= df['price'] + df['shipping']

df

                      vendors condition  price  shipping  total_cost
0                        eBay      used   2.49      3.49        5.98
1                 BiggerBooks      used   2.12      3.99        6.11
2                     eCampus      used   2.17      3.99        6.16
3                Valore Books      used   2.69      3.95        6.64
4                     Alibris      used   2.69      3.99        6.68
5         eCampus Marketplace      used   2.96      3.99        6.95
6                        eBay       new   3.99      3.49        7.48
7              BN Marketplace      used   2.49      4.99        7.48
8   Textbooks.com Marketplace      used   2.49      4.99        7.48
9                      Biblio      used   2.67      4.95        7.62
10                   Abebooks      used   4.87      3.00        7.87
11                   RedShelf     ebook   7.99      0.00        7.99
12                 eBooks.com     ebook   7.99      0.00        7.99
13               Apple iBooks     ebook   7.99      0.00        7.99
14                    Alibris       new   4.32      3.99        8.31
15        eCampus Marketplace       new   4.75      3.99        8.74
16      TextbookX Marketplace      used   3.02      5.96        8.98
17                     Biblio       new   4.29      4.95        9.24
18                    eCampus    rental   6.00      3.99        9.99
19                  Knetbooks    rental  10.00      0.00       10.00
20                BiggerBooks    rental   6.18      3.99       10.17
21                   Abebooks       new   4.29      6.00       10.29
22      TextbookX Marketplace       new   4.86      5.96       10.82
23             BN Marketplace       new   7.20      4.99       12.19
24  Textbooks.com Marketplace       new   7.20      4.99       12.19
25                   Shophity       new  14.99      0.00       14.99
26               TextbookRush      used  11.42      3.99       15.41
27                      Chegg    rental  11.99      4.99       16.98
28                    Wordery       new  18.25      0.00       18.25
29                      Chegg      used  13.49      4.99       18.48
30             SuperBookDeals       new  14.93      3.99       18.92
31                  TextbookX       new  13.48      5.96       19.44
32            Book Depository       new  20.63      0.00       20.63
33               TextbookRush       new  16.84      3.99       20.83
34                BiggerBooks       new  18.61      3.99       22.60
35                    eCampus       new  18.99      3.99       22.98
36                    Powells       new  19.99      3.99       23.98
37              Barnes  Noble       new  19.99      4.99       24.98

In [12]:
min_total = min(df['total_cost'])
print(min_total)

5.98

In [14]:
import numpy as np
median = np.median(df['total_cost'])
print(median)

9.995000000000001

In [30]:
category = df.sort_values(['condition', 'total_cost'])
#print(category.head)
category

                      vendors condition  price  shipping  total_cost
11                   RedShelf     ebook   7.99      0.00        7.99
12                 eBooks.com     ebook   7.99      0.00        7.99
13               Apple iBooks     ebook   7.99      0.00        7.99
6                        eBay       new   3.99      3.49        7.48
14                    Alibris       new   4.32      3.99        8.31
15        eCampus Marketplace       new   4.75      3.99        8.74
17                     Biblio       new   4.29      4.95        9.24
21                   Abebooks       new   4.29      6.00       10.29
22      TextbookX Marketplace       new   4.86      5.96       10.82
23             BN Marketplace       new   7.20      4.99       12.19
24  Textbooks.com Marketplace       new   7.20      4.99       12.19
25                   Shophity       new  14.99      0.00       14.99
28                    Wordery       new  18.25      0.00       18.25
30             SuperBookDeals       new  14.93      3.99       18.92
31                  TextbookX       new  13.48      5.96       19.44
32            Book Depository       new  20.63      0.00       20.63
33               TextbookRush       new  16.84      3.99       20.83
34                BiggerBooks       new  18.61      3.99       22.60
35                    eCampus       new  18.99      3.99       22.98
36                    Powells       new  19.99      3.99       23.98
37              Barnes  Noble       new  19.99      4.99       24.98
18                    eCampus    rental   6.00      3.99        9.99
19                  Knetbooks    rental  10.00      0.00       10.00
20                BiggerBooks    rental   6.18      3.99       10.17
27                      Chegg    rental  11.99      4.99       16.98
0                        eBay      used   2.49      3.49        5.98
1                 BiggerBooks      used   2.12      3.99        6.11
2                     eCampus      used   2.17      3.99        6.16
3                Valore Books      used   2.69      3.95        6.64
4                     Alibris      used   2.69      3.99        6.68
5         eCampus Marketplace      used   2.96      3.99        6.95
7              BN Marketplace      used   2.49      4.99        7.48
8   Textbooks.com Marketplace      used   2.49      4.99        7.48
9                      Biblio      used   2.67      4.95        7.62
10                   Abebooks      used   4.87      3.00        7.87
16      TextbookX Marketplace      used   3.02      5.96        8.98
26               TextbookRush      used  11.42      3.99       15.41
29                      Chegg      used  13.49      4.99       18.48

In [55]:
just_used_min = min(df.loc[df['condition'] == "used", 'total_cost'])
just_used_max = max(df.loc[df['condition'] == "used", 'total_cost'])

average_used = np.mean(df.loc[df['condition'] == "used", 'total_cost'])

print(just_used_min)
print(just_used_max)

print(average_used)

5.98
18.48
8.603076923076923

In [56]:
just_new_min = min(df.loc[df['condition'] == "new", 'total_cost'])
just_new_max = max(df.loc[df['condition'] == "new", 'total_cost'])

average_new = np.mean(df.loc[df['condition'] == "new", 'total_cost'])

print(just_new_min)
print(just_new_max)
print(average_new)

7.48
24.979999999999997
15.936666666666667

In [57]:
just_rental_min = min(df.loc[df['condition'] == "rental", 'total_cost'])
just_rental_max = max(df.loc[df['condition'] == "rental", 'total_cost'])

average_rental = np.mean(df.loc[df['condition'] == "rental", 'total_cost'])

print(just_rental_min)
print(just_rental_max)
print(average_rental)

9.99
16.98
11.785

In [58]:
just_ebook_min = min(df.loc[df['condition'] == "ebook", 'total_cost'])
just_ebook_max = max(df.loc[df['condition'] == "ebook", 'total_cost'])

average_ebook = np.mean(df.loc[df['condition'] == "ebook", 'total_cost'])

print(just_ebook_min)
print(just_ebook_max)
print(average_ebook)

7.99
7.99
7.989999999999999